@model  DTO.DanhMucDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/CategoryUpdate.css" rel="stylesheet" />
    <title>CapNhatDanhMuc</title>
</head>
<body>
    <header>
        <h1>Trang sửa sản phẩm.</h1> <!--Sẽ làm nội dung cho phần Header sau -->
    </header>

    <section class="admin-content">

        <div class="admin-content-left">
            <ul>
                <li>
                    <a href="">Sản phẩm</a>
                    <ul>
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Thêm mới</a></li>
                        <li><a href="">Danh mục</a></li>
                        <li><a href="">Các thuộc tính</a></li>
                    </ul>
                </li>
                `
                <li>
                    <a href="">Thành viên</a>
                    <ul>
                        <li><a href="">Tất cả thành viên</a></li>
                        <li><a href="">Thêm thành viên</a></li>
                    </ul>
                </li>
            </ul>
        </div>



        @*<div class="admin-content-category">
                <div class="admin-content-category_list">
                    <!-- Thẻ để tạo bảng. -->
                    <h1>Danh sách danh mục</h1>
                    <table>
                        <tr>

                            <th>ID</th>   <!-- Thẻ th là tiêu đề của bảng  -->
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>
                            <th>Tùy biến</th>  <!-- để thêm nút sửa xóa vào trang này. -->

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.TENDM</td>
                                <td>@item.MOTA</td>

                                <td class="NutBam"><a href="">Sửa</a>|<a href="">Xóa</a></td>  <!-- đường Link để sửa và xóa. -->
                            </tr>
                        }
                    </table>
                </div>
            </div>*@

        <div class="sua-danh-muc">
            <div class="sua-danh-muc-moi">

                <h1>Sửa Danh Mục </h1>
                <!-- Phần action thì sẽ điền link đến phần Controller và Action nhận dữ liệu. -->
                <form action="~/Home/SuaDanhMuc" method="POST">  

                    <input type="text" placeholder= "@Model.ID" name="idDanhMuc"  />
                    <br />
                    <input type="text"  placeholder= "@Model.TENDM"  name="TenDMMoi"  />
                    <br />
                    <input type="text" placeholder= "@Model.MOTA" name="MoTaMoi" />
                    <button type="submit" class="btn btn-default">Sửa danh mục.</button>
                    <br />
                    <a href="~/Home/Index">Quay về trang chủ</a>

                </form>
            </div>
        </div>




    </section>
</body>
</html>
