@model List<DTO.DanhMucDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Category.css" rel="stylesheet" />
    <title>HomeIndex_Danh mục sản phẩm.</title>
</head>
<body>
    <header>
        <h1>Trang danh mục sản phẩm.</h1> <!--Sẽ làm nội dung cho phần Header sau -->
    </header>

    <section class="admin-content">

        <div class="admin-content-left">
            <ul>
                <li>
                    <a href="">Sản phẩm</a>
                    <ul>
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Thêm mới</a></li>
                        <li><a href="">Danh mục</a></li>
                        <li><a href="">Các thuộc tính</a></li>
                    </ul>
                </li>
                `
                <li>
                    <a href="">Thành viên</a>
                    <ul>
                        <li><a href="">Tất cả thành viên</a></li>
                        <li><a href="">Thêm thành viên</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="admin-content-right">
            <div class="admin-content-right-category_add">
                <h1>Thêm Danh Mục</h1>
                <form action="" method="POST">
                    <input type="text" placeholder="Nhập tên danh mục" />
                    <button type="submit">Thêm</button>
                </form>
            </div>
        </div>


        <div class="admin-content-category">
            <div class="admin-content-category_list">
                <!-- Thẻ để tạo bảng. -->
                <h1>Danh sách danh mục</h1>
                <table>
                    <tr>

                        <th>ID</th>   <!-- Thẻ th là tiêu đề của bảng  -->
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Tùy biến</th>  <!-- để thêm nút sửa xóa vào trang này. -->

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.TENDM</td>
                            <td>@item.MOTA</td>
                            <td><a href="">Sửa</a>|<a href="">Xóa</a></td>  <!-- đường Link để sửa và xóa. -->
                        </tr>
                    }
                </table>
            </div>

        </div>



        @*<thead>


            </thead>*@
        <!-- Thẻ tBody để in các dữ liệu -->
        @*<tbody>

                <!-- In thủ công thì sẽ mất thời gian. -->
                <!--Sử dụng vòng lặp While để in tự động.-->
                <!--Phải kết nối cơ sở dữ liệu.-->
                <h1>Danh sách danh mục</h1>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.TENDM</td>
                                <td>@item.MOTA</td>
                            </tr>
                        }

                    </tbody>

                </table>

            </tbody>*@

    </section>
</body>
</html>
