@model List<DTO.DanhMucDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Category.css" rel="stylesheet" />
    <title>HomeIndex_Danh mục sản phẩm.</title>
</head>

<body>

    <header>
        <h1>Trang danh mục sản phẩm, Trang hiển thị sản phẩm </h1> <!--Sẽ làm nội dung cho phần Header sau -->
    </header>

    <section class="admin-content">

        <div class="admin-content-left">
            <ul>
                <li>
                    <a href="">Sản phẩm</a>
                    <ul>
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Thêm mới</a></li>
                        <li><a href="">Danh mục</a></li>
                        <li><a href="">Các thuộc tính</a></li>
                    </ul>
                </li>
                `
                <li>
                    <a href="">Thành viên</a>
                    <ul>
                        <li><a href="">Tất cả thành viên</a></li>
                        <li><a href="">Thêm thành viên</a></li>
                        <li><a href="">Hồ sơ của bạn</a></li>
                        <li><a href="">Vai trò thành viên</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="admin-content-right">
            <div class="admin-content-right-category_add">
                <h1>Thêm Danh Mục Mới.</h1>
                <!-- Phần action thì sẽ điền link đến phần Controller và Action nhận dữ liệu. -->
                <form action="~/Home/ThemDanhMuc" method="POST">

                    <input type="text" placeholder="Nhập tên danh mục" name="TenDM" />
                    <br />
                    <input type="text" placeholder="Nhập mô tả" name="MoTa" />
                    <button type="submit" class="btn btn-default">Thêm mới</button>
                </form>
            </div>
        </div>


        <div class="admin-content-category">
            <div class="admin-content-category_list">
                <!-- Thẻ để tạo bảng. -->
                <h1>Danh sách danh mục</h1>
                <table>
                    <tr>

                        <th>ID</th>   <!-- Thẻ th là tiêu đề của bảng  -->
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Tùy biến</th>  <!-- để thêm nút sửa xóa vào trang này. -->

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.TENDM</td>
                            <td>@item.MOTA</td>
                            @*// chèn thẻ a vào đây nhưng lại muốn lấy được thông tin của danh mục.*@
                            <td class="NutBam">
                                <a href="~/Home/CapNhatDanhMucMoi?idDanhMuc=@item.ID">Sửa</a>|
                                <a href="~/Home/XoaDanhMuc?idDanhMuc=@item.ID" onclick="return confirm('Bạn có chắc chắn muốn xóa danh mục: @item.TENDM');">Xóa</a>
                                @*<a href="#" onclick="XoaDanhMuc(@item.ID)">Xóa</a>*@
                                @*<a href=" ./js/XoaDM.js">Xóa</a>*@
                            </td>
                            <!-- đường Link để sửa và xóa. -->
                            @*//Link href="Link đến Controller muốn vào/Action muốn vào/tham số truyền vào Action." //*@
                            @*// Sử dụng câu lệnh If, câu lệnh Nếu.*@
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="sua-danh-muc">
            <div class="sua-danh-muc-moi">

                <h1>Sửa Danh Mục </h1>
                <!-- Phần action thì sẽ điền link đến phần Controller và Action nhận dữ liệu. -->
                <form action="~/Home/ThemDanhMuc" method="POST">
                    <input type="text" placeholder="ID danh mục chọn" name="ID" />
                    <br />
                    <input type="text" placeholder="Nhập tên danh mục muốn đổi lại" name="TenDMMoi" />
                    <br />
                    <input type="text" placeholder="Nhập mô tả muốn đổi lại" name="MoTaMoi" />
                    <button type="submit" class="btn btn-default">Sửa danh mục.</button>

                </form>
            </div>

        </div>

    </section>

    @section scripts {
        <script>
                                    //function xoa() {
                                    //    if (confirm('Bạn có chắc chắn muốn xóa?')) {
                                    //        // Thực hiện hành động xóa ở đây (ví dụ: gọi một hàm AJAX để gửi yêu cầu xóa đến server)
                                    //        $.ajax({
                                    //            url: '/Home/XoaDanhMuc',
                                    //            data: { id: 123 }, // Gửi ID của bản ghi cần xóa
                                    //            success: function (result) {
                                    //                // Xử lý kết quả trả về từ server
                                    //                alert('Xóa thành công!');
                                    //            },
                                    //            error: function (error)
                                    //                // Xử lý lỗi
                                    //                alert('Có lỗi xảy ra!');
                                    //            }
                                    //        });
                                    //    }
                                    //}
                                    ////var XoaDanhMuc = function (idDanhMuc) {
                                    //    if (confirm("Bạn  chắc chắn muốn xóa danh mục có ID= " + idDanhMuc + " hay không?") == true) {
                                    //        location.href = "/Home/XoaDanhMuc?idDanhMuc=" + idDanhMuc
                                    //    }

        </script>
    }



</body>
</html>


